.sub-header{
    display:flex;
    justify-content:flex-end;
    align-items: flex-end;
    box-shadow:0 0 10px 5px rgba(0,0,0,0.5);
    color:white;
}
.search-word{
    background:#343a40;
    width:100%;
}