.register-page {
  background: url("../../../assets/login-register-bg.jpg") center center;
  background-size: cover;
  min-height: 90vh;
  .form-container {
    background: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    width: 100%;
    padding-top: 58px !important;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .btn-x {
    width: 97%;
    margin-top: 25px;
  }
  label {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
