.pagination{
    display:flex;
    color:red;
    .page-item{
        display:flex;
        text-justify: middle;
    }
    .page-link{
        font-weight: bold;
        font-size:17px;
    }
}

.text-white{
    background:#5260ff !important;
    border:none;
    color:white !important;
}